<dl>
	<dt>
		<label>{{ lang('COUNTRYFLAG_POSITION') }}{{ lang('COLON') }}</label><br />
		<span>{{ lang('COUNTRYFLAG_POSITION_EXPLAIN') }}</span>
	</dt>
	<dd>
		<select id="user_country_sort" name="user_country_sort" onchange="reverseDisplay(this.options[selectedIndex].value);">{{ COUNTRY_SELECT }}</select>&nbsp;&nbsp;
		<span id="username0" style="display:{{ DISPLAY_0 }};">{{ COUNTRY_NAME_0 }}</span>
		<span id="username1" style="display:{{ DISPLAY_1 }};">{{ COUNTRY_NAME_1 }}</span>
		<span id="username2" style="display:{{ DISPLAY_2 }};">{{ COUNTRY_NAME_2 }}</span>
	</dd>
</dl>
<script>
function reverseDisplay(value){
	$('#username0,#username1,#username2').each(function(){
		$(this).hide();
	});
	$('#username'+value).show();
}
</script>
